footer {
  margin-top: 10vmax;
  padding: 50px;
  background-color: black;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.left-footer,
.right-footer,
.middle-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

@media screen and (max-width: 780px) {
  footer {
    flex-direction: column;
    gap: 20px;
  }
}
