* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}
.register-container {
  height: 100vh;
  width: 100%;
  background-color: rgb(53, 45, 45);
}
.register-form {
  width: 60%;
  margin: 0 auto;
  background-color: beige;
  padding: 100px;
}
.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.form-controller {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-input {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  outline: none;
}
.register-btn {
  font-size: 20px;
  padding: 4px 10px;
}
